@{
    ViewBag.Title = "About";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>RY Pizza 1900 Suriye'de başlalı günümüze kadar 200 dan fazla dünyada şübelerimiz vardır, sizi bu ailemizle olmayı sevgi duyuyoruz.
    Günümüzde hemen herkesin ya özellikle gidip yediği ya da yemek yapmaya zamanı olmadığı için en yakın restorandan sipariş ettiği pizzanın oldukça ilginç bir tarihi var. Pizza, Latincede ezmek ve öğütmek anlamına gelen “pinsere” fiili ile ilgili. Sadece isim olarak değil, bizdeki pide gibi pizzanın da doğuşu  Mısır, Yunan ve Roma uygarlıklarında arpa ve suyla elde edilen “maza”ya dayanıyor. Tabi, pizzanın keşfine ilişkin olan hikaye hepsinden daha ilginç.

    Pizza, aslında mozzarella peyniri ve domatesin muhteşem birlikteliğiyle yoksul İtalyan halkının vazgeçilmez lezzeti olarak yüz yıllarca tüketilmiş. Dünya çapında bir üne kavuşmasının hikayesi ise, 1889 yılında Kraliçe Margherita’nın mozzarella peyniri, domates ve fesleğen ile süslenmiş pizzayı tatması ile başlar. Bu tarihe kadar yoksul halk tarafından tüketilen pizza, Kraliçenin kendisine sunulan pizzayı beğenip, aşçı Esposito’ya bir teşekkür mektubu göndermesi ile zengin halkın da sofrasına girmeye başlar. İlgili mektup, hala bugünkü adı “Pizzeria Brandi” olan pizza dükkânının camında sergilenmektedir.

    Pizza_tarihi1

    Hikaye ise şöyle, Esposito’nun “Pietro” isimli pizza fırını, İtalya Kralı 1. Umberto’nun sarayı Palazzo di Capodimente ile komşudur. Kral ve kraliçe sarayda dinlenirken onları tam anlmıyla mutlu etmek isteyen saray aşçıları tüm hünerlerini gösterir. Kraliçe canının pizza istediğini söylediğinde ise işler biraz karışır. Bir yoksul yiyeceği olan pizzanın nasıl yapılması gerektiği doğal olarak saray aşçıları tarafından bilinmemektedir. Pizzanın hızlıca yapılabilmesi için hemen Esposito’ya sipariş verilir. Mozarella peyniri, domates ve fesleğen ile yaptığı pizzayı kraliçeye sunan Esposito, kraliçe pizzanın ismini sorduğunda ise heyecandan ne söylemesi gerektiğini unutur ve telaşla kraliçenin adını telaffuz eder. Pizzayı çok beğenen Kraliçe Margherita, Esposito’ya yazdığı mektupta söz konusu pizzadan “Pizza Margherita” şeklinde bahseder. Kraliçenin pizzayı çok sevmiş olması ve bunun için Esposito bir teşekkür mektubu yazması kısa zaman içinde tüm halk tarafından duyulur ve pizza yoksul sofralarından saray mutfağına girmeyi başarır.

    Pizza_tarihi2

    Pizzanın tüm dünyaya hızlı bir şekilde yayılmasında ise bilinenin aksine İtalya’nın herhangi bir etkisi bulunmuyor. 1800’lü yılların sonunda Amerika’ya göç eden İtalyanlar, yerleştikleri bu ülkede yemek kültürlerini olduğu gibi devam ettirmeye çalışır. İtalyan göçmenler tarafından açılan küçük pizza restoranları sayesinde Amerikalıların da günlük yaşamına giren pizza, Amerikalı girişimcilerin açtığı büyük pizza restoranlarıyla daha da dikkat çekici bir hal alır. Yıllar içinde asıl pizza malzemelerine yapılan eklemeler ve küçük değişiklikler ile Amerikalı girişimciler tarafından dünya mutfağına sunulur. Hatta yaygın bir görüşe göre dünyanın birçok bölgesinde tüketilen pizza türleri, İtalyan pizzasından oldukça farklıdır. Fesleğen ve sarımsak gibi orijinal malzemelerle yapılan İtalyan pizzasını tatmanın en güvenilir yolu da Napoli’yi ziyaret etmektir.

    Bir gün İtalya’ya yolunuz düşerse Lazio stili, Pizza Romana, Sicilya stili, Beyaz pizza, Napoliten pizza ve Pizza Margarita’yı denemeniz şiddetle tavsiye edilir.</p>
