@{
    ViewBag.Title = "Home Page";
}


    <!--buyuk resim-->
    <div class="container padTop20">

        <!-- buyuk image -->
        <div class="row padTop20">
            <img class="fill" src="images/BigImagePizza.png" alt="SAÜ 1">

        </div>
        <!--buyuk image gelecek sonu-->
    </div>
    <!--sayfanin buyuk resim sonu .container-->


<div class="container padTop20">
    <!--resisim listeleri-->
    <div class="row padTop20">












        <div class="col-md-4">
            <div class="thumbnail">
                <a href="images/domatesPizza.png" target="_blank">
                    <img src="images/domatesPizza.png" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">Siparis et</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="images/domatesPizza.png" target="_blank">
                    <img src="images/domatesPizza.png" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">Siparis et</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="images/domatesPizza.png" target="_blank">
                    <img src="images/domatesPizza.png" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">Siparis et</div>
                    </div>
                </a>
            </div>
        </div>









        <div class="col-md-4">
            <div class="thumbnail">
                <a href="images/domatesPizza.png" target="_blank">
                    <img src="images/domatesPizza.png" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">Siparis et</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="images/domatesPizza.png" target="_blank">
                    <img src="images/domatesPizza.png" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">Siparis et</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="images/domatesPizza.png" target="_blank">
                    <img src="images/domatesPizza.png" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">Siparis et</div>
                    </div>
                </a>
            </div>
        </div>









        <div class="col-md-4">
            <div class="thumbnail">
                <a href="images/domatesPizza.png" target="_blank">
                    <img src="images/domatesPizza.png" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">Siparis et</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="images/domatesPizza.png" target="_blank">
                    <img src="images/domatesPizza.png" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">Siparis et</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="images/domatesPizza.png" target="_blank">
                    <img src="images/domatesPizza.png" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">Siparis et</div>
                    </div>
                </a>
            </div>
        </div>







    </div>
    <!--resisim listeleri sonu .row-->
</div>
